In [13]:
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.svm import NuSVC
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn import preprocessing

In [40]:
df_1 = pd.read_csv('data_Post-processing\\df_full_combo_clean.csv')
df_2 = pd.read_csv('data_Post-processing\\df_genuine_middle.csv')
#df_combo = pd.concat([df_1,df_2])
#df_combo.shape
df_1.head()

,Unnamed: 0,URL,Length,digits,digit_ratio,Hyperlinks,Sus_Words,Phish,Url_Dots,Sus_Url
0,0,poom.co.kr,10,0,0.0,25.0,0.0,False,2,0
1,1,victoriarnilan.no,17,0,0.0,8.0,0.0,False,1,0
2,2,paqtomog.com,12,0,0.0,23.0,0.0,False,1,0
3,3,publications-agora.fr,21,0,0.0,23.0,0.0,False,1,0
4,4,funkemedien.de,14,0,0.0,25.0,0.0,False,1,0

In [50]:
#df_1.drop(['Unnamed: 0','digits','digit_ratio','Sus_Words'],axis=1,inplace=True)
df_1.head()

                     URL  Length  Hyperlinks  Phish  Url_Dots  Sus_Url
0             poom.co.kr      10        25.0  False         2        0
1      victoriarnilan.no      17         8.0  False         1        0
2           paqtomog.com      12        23.0  False         1        0
3  publications-agora.fr      21        23.0  False         1        0
4         funkemedien.de      14        25.0  False         1        0

In [47]:
df_2.drop('Unnamed: 0',axis=1,inplace=True)
df_2.head()

,URL,Length,Hyperlinks,Url_Dots,Sus_Url
0,https://www.turkishdelightkebab.co.uk/,38,0.0,3,0
1,https://twitter.com/search?q=%22South%20Park%2...,79,6.0,1,0
2,https://twitter.com/i/events/1610420776393445379,48,6.0,1,0
3,https://twitter.com/denooh_,27,6.0,1,0
4,https://www.reddit.com/r/CasualUK/,34,25.0,2,0

In [27]:
import re
def url_dots(row):
    digits = re.findall('\.',row['URL'])
    return len(digits)
df_2['Url_Dots'] = df_2.apply(lambda row: url_dots(row),axis=1)
df_2.head()

,URL,Length,Hyperlinks,Url_Dots
0,https://www.turkishdelightkebab.co.uk/,38,0.0,3
1,https://twitter.com/search?q=%22South%20Park%2...,79,6.0,1
2,https://twitter.com/i/events/1610420776393445379,48,6.0,1
3,https://twitter.com/denooh_,27,6.0,1
4,https://www.reddit.com/r/CasualUK/,34,25.0,2

In [31]:
df_1.head()

                     URL  Length  Hyperlinks  Phish  Url_Dots
0             poom.co.kr      10        25.0  False         2
1      victoriarnilan.no      17         8.0  False         1
2           paqtomog.com      12        23.0  False         1
3  publications-agora.fr      21        23.0  False         1
4         funkemedien.de      14        25.0  False         1

In [48]:
df_1_clean = df_1.dropna()
df_1_clean.shape

(7354, 6)

In [49]:
df_2_clean = df_2.dropna()
df_2_clean.shape

(3305, 5)

In [8]:
df_2.shape

(3305, 3)

In [45]:
genuine_bool = []
for i in range(0,len(df_2['URL'])):
    genuine_bool.append(False)

In [21]:
len(genuine_bool)

3305

In [51]:
df_2_clean['Phish'] = genuine_bool
df_2_clean.tail()

,URL,Length,Hyperlinks,Url_Dots,Sus_Url,Phish
3300,https://www.ebay.co.uk/sme/beauty-scent/offers...,74,17.0,5,0,False
3301,https://www.ebay.co.uk/sme/beauty-scent/Save-w...,62,17.0,3,0,False
3302,https://www.ebay.co.uk/sme/beauty-scent/Save-w...,70,17.0,4,0,False
3303,https://www.ebay.co.uk/sme/beauty-scent/Save-w...,153,17.0,5,0,False
3304,https://www.ebay.co.uk/sme/beauty-scent/Save-w...,153,17.0,5,0,False

In [52]:
df_combo = pd.concat([df_1_clean,df_2_clean])
df_combo.head()

                     URL  Length  Hyperlinks  Phish  Url_Dots  Sus_Url
0             poom.co.kr      10        25.0  False         2        0
1      victoriarnilan.no      17         8.0  False         1        0
2           paqtomog.com      12        23.0  False         1        0
3  publications-agora.fr      21        23.0  False         1        0
4         funkemedien.de      14        25.0  False         1        0

In [54]:
#df_combo.dropna(inplace=True)
df_combo.shape

(10659, 6)

In [53]:
df_combo.to_csv('Data_Post-processing\\df_combo_middle.csv')

In [36]:
df_combo_clean = df_combo.dropna()
df_combo_clean.shape

(10659, 5)

In [7]:
df_combo.drop(['Unnamed: 0.1','Unnamed: 0'],axis=1,inplace=True)
df_combo.tail()

,Date_Time,Score,URL,IP,Length,digits,digit_ratio,Hyperlinks,Sus_Words
1863,2023-02-05 21:57:54,1.9,http://beinmatchonline.com/acc/cc.php,92.205.4.171,37,0,0.0,1.0,0.0
1864,2023-02-05 21:57:52,1.9,http://beinmatchonline.com/acc,92.205.4.171,30,0,0.0,1.0,0.0
1865,2023-02-05 21:57:43,1.9,http://attemailnotice.weebly.com/,199.34.228.53,33,0,0.0,1.0,0.0
1866,2023-02-05 19:52:04,3.3,https://cbcenterprodutionsprom.com/casasbahia/...,2606:4700:3034::6815:1186,54,0,0.0,2.0,0.0
1867,2023-02-05 19:51:48,3.1,http://opensea.com.bz,77.73.133.2,21,0,0.0,5.0,4.0

In [9]:
df_combo.to_csv('df_sus_words_combined.csv')

In [12]:
df_combo.head()
df_combo.shape

(3273, 9)

In [14]:
df_combo.drop_duplicates('URL').shape

(2435, 9)

In [13]:
df_combo.drop_duplicates('URL').to_csv('df_sus_words_combined.csv')

In [15]:
df_3 = pd.read_csv('df_sus_words_clean_1_2.csv')

In [16]:
df_combo_2 = pd.concat([df_combo,df_3])

In [17]:
df_combo_2.shape

(3825, 10)

In [19]:
df_combo_2_clean = df_combo_2.drop_duplicates('URL')
df_combo_2_clean.to_csv('df_sus_words_combined.csv')

In [20]:
df_combo_2_clean.head()

,Date_Time,Score,URL,IP,Length,digits,digit_ratio,Hyperlinks,Sus_Words,Unnamed: 0
0,2023-02-09 07:54:34,3.5,https://647cyu.z8.web.core.windows.net/,20.60.72.33,39,4,0.102564,0.0,1.0,NaN
1,2023-02-09 07:54:31,2.2,https://30-02-9v-h38g5f-83gfd028egfd-2gfe0-g8w...,159.138.16.166,228,42,0.184211,0.0,0.0,NaN
2,2023-02-09 07:54:29,2.2,https://22-02-0-fj39h5rg-38rgf-83gef-08cgw-eg0...,110.238.127.235,229,42,0.183406,0.0,0.0,NaN
3,2023-02-09 07:54:26,4.1,https://22-02-0-3rg9hf-3r9fv-wrgvc-wd9jc-ge3r-...,159.138.80.33,227,41,0.180617,0.0,0.0,NaN
4,2023-02-09 07:54:14,5.6,http://portogran.com.br/loges/wp-set/main/view...,187.17.111.105,96,0,0.000000,1.0,0.0,NaN

In [21]:
df_combo_2_clean.drop('Unnamed: 0',axis=1,inplace=True)
df_combo_2_clean.head()

C:\Users\peter\AppData\Local\Temp\ipykernel_20180\3280945043.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combo_2_clean.drop('Unnamed: 0',axis=1,inplace=True)

,Date_Time,Score,URL,IP,Length,digits,digit_ratio,Hyperlinks,Sus_Words
0,2023-02-09 07:54:34,3.5,https://647cyu.z8.web.core.windows.net/,20.60.72.33,39,4,0.102564,0.0,1.0
1,2023-02-09 07:54:31,2.2,https://30-02-9v-h38g5f-83gfd028egfd-2gfe0-g8w...,159.138.16.166,228,42,0.184211,0.0,0.0
2,2023-02-09 07:54:29,2.2,https://22-02-0-fj39h5rg-38rgf-83gef-08cgw-eg0...,110.238.127.235,229,42,0.183406,0.0,0.0
3,2023-02-09 07:54:26,4.1,https://22-02-0-3rg9hf-3r9fv-wrgvc-wd9jc-ge3r-...,159.138.80.33,227,41,0.180617,0.0,0.0
4,2023-02-09 07:54:14,5.6,http://portogran.com.br/loges/wp-set/main/view...,187.17.111.105,96,0,0.000000,1.0,0.0

In [22]:

df_combo.to_csv('df_sus_words_combined.csv')

In [20]:
def concat_and_clean(df1,df2):
    df3 = pd.concat([df1,df2])
    df3.drop_duplicates('URL',inplace=True)
    return df3

In [5]:
df_combo = pd.read_csv('df_sus_words_combined.csv')
df_combo.describe()

,Unnamed: 0,Score,Length,digits,digit_ratio,Hyperlinks,Sus_Words
count,2987.000000,2987.000000,2987.000000,2987.000000,2987.000000,2987.000000,2987.000000
mean,561.423837,4.196619,59.484433,7.790760,0.084488,4.550720,0.181118
std,374.948708,1.656041,123.585448,52.690118,0.109833,8.183165,1.268535
min,0.000000,1.000000,14.000000,0.000000,0.000000,0.000000,0.000000
25%,249.000000,2.800000,32.000000,0.000000,0.000000,0.000000,0.000000
50%,498.000000,4.300000,43.000000,2.000000,0.038462,0.000000,0.000000
75%,844.500000,5.600000,66.000000,7.000000,0.131579,3.000000,0.000000
max,1540.000000,8.700000,4247.000000,2011.000000,0.545455,25.000000,29.000000

In [6]:
df_combo_2 = pd.read_csv('df_sus_words_clean_2_2.csv')
df_combo_3 = concat_and_clean(df_combo,df_combo_2)
df_combo_3.shape

(4044, 10)

In [7]:
df_combo_3.head()

,Unnamed: 0,Date_Time,Score,URL,IP,Length,digits,digit_ratio,Hyperlinks,Sus_Words
0,0,2023-02-09 07:54:34,3.5,https://647cyu.z8.web.core.windows.net/,20.60.72.33,39,4,0.102564,0.0,1.0
1,1,2023-02-09 07:54:31,2.2,https://30-02-9v-h38g5f-83gfd028egfd-2gfe0-g8w...,159.138.16.166,228,42,0.184211,0.0,0.0
2,2,2023-02-09 07:54:29,2.2,https://22-02-0-fj39h5rg-38rgf-83gef-08cgw-eg0...,110.238.127.235,229,42,0.183406,0.0,0.0
3,3,2023-02-09 07:54:26,4.1,https://22-02-0-3rg9hf-3r9fv-wrgvc-wd9jc-ge3r-...,159.138.80.33,227,41,0.180617,0.0,0.0
4,4,2023-02-09 07:54:14,5.6,http://portogran.com.br/loges/wp-set/main/view...,187.17.111.105,96,0,0.000000,1.0,0.0

In [10]:
#df_combo_3.drop('Unnamed: 0',axis=1,inplace=True)
df_combo_3.head()

,Date_Time,Score,URL,IP,Length,digits,digit_ratio,Hyperlinks,Sus_Words
0,2023-02-09 07:54:34,3.5,https://647cyu.z8.web.core.windows.net/,20.60.72.33,39,4,0.102564,0.0,1.0
1,2023-02-09 07:54:31,2.2,https://30-02-9v-h38g5f-83gfd028egfd-2gfe0-g8w...,159.138.16.166,228,42,0.184211,0.0,0.0
2,2023-02-09 07:54:29,2.2,https://22-02-0-fj39h5rg-38rgf-83gef-08cgw-eg0...,110.238.127.235,229,42,0.183406,0.0,0.0
3,2023-02-09 07:54:26,4.1,https://22-02-0-3rg9hf-3r9fv-wrgvc-wd9jc-ge3r-...,159.138.80.33,227,41,0.180617,0.0,0.0
4,2023-02-09 07:54:14,5.6,http://portogran.com.br/loges/wp-set/main/view...,187.17.111.105,96,0,0.000000,1.0,0.0

In [10]:
df_combo.to_csv('df_sus_words_combined.csv')

In [12]:
df_combo_3.describe()

,Score,Length,digits,digit_ratio,Hyperlinks,Sus_Words
count,4044.000000,4044.000000,4044.000000,4044.000000,4044.000000,4044.000000
mean,4.181899,58.081602,7.771019,0.090207,4.309594,0.160732
std,1.604987,108.989048,46.839731,0.113269,7.942104,1.116016
min,1.000000,14.000000,0.000000,0.000000,0.000000,0.000000
25%,2.800000,32.000000,0.000000,0.000000,0.000000,0.000000
50%,4.300000,43.000000,2.000000,0.043478,0.000000,0.000000
75%,5.500000,67.000000,7.000000,0.147059,3.000000,0.000000
max,8.700000,4247.000000,2011.000000,0.790514,25.000000,29.000000

In [24]:
import re

In [22]:
def sus_word_url(row):
    arr = re.findall(r'(security|login|signin|bank|account|update|include|webs|online)',row['URL'])
    return len(arr)

In [16]:
df_combo_3['Sus_Url'] = df_combo_3.apply(lambda row: sus_word_url(row),axis=1)
df_combo_3.head()

,Date_Time,Score,URL,IP,Length,digits,digit_ratio,Hyperlinks,Sus_Words,Sus_Url
0,2023-02-09 07:54:34,3.5,https://647cyu.z8.web.core.windows.net/,20.60.72.33,39,4,0.102564,0.0,1.0,0
1,2023-02-09 07:54:31,2.2,https://30-02-9v-h38g5f-83gfd028egfd-2gfe0-g8w...,159.138.16.166,228,42,0.184211,0.0,0.0,0
2,2023-02-09 07:54:29,2.2,https://22-02-0-fj39h5rg-38rgf-83gef-08cgw-eg0...,110.238.127.235,229,42,0.183406,0.0,0.0,0
3,2023-02-09 07:54:26,4.1,https://22-02-0-3rg9hf-3r9fv-wrgvc-wd9jc-ge3r-...,159.138.80.33,227,41,0.180617,0.0,0.0,0
4,2023-02-09 07:54:14,5.6,http://portogran.com.br/loges/wp-set/main/view...,187.17.111.105,96,0,0.000000,1.0,0.0,2

In [17]:
df_combo_3.describe()

,Score,Length,digits,digit_ratio,Hyperlinks,Sus_Words,Sus_Url
count,4044.000000,4044.000000,4044.000000,4044.000000,4044.000000,4044.000000,4044.000000
mean,4.181899,58.081602,7.771019,0.090207,4.309594,0.160732,0.136993
std,1.604987,108.989048,46.839731,0.113269,7.942104,1.116016,0.446523
min,1.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.800000,32.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.300000,43.000000,2.000000,0.043478,0.000000,0.000000,0.000000
75%,5.500000,67.000000,7.000000,0.147059,3.000000,0.000000,0.000000
max,8.700000,4247.000000,2011.000000,0.790514,25.000000,29.000000,5.000000

In [21]:
def dots_url(row):
    arr = re.findall(r'\.',row['URL'])
    return len(arr)

In [22]:
df_combo_3['Url_Dots'] = df_combo_3.apply(lambda row: dots_url(row),axis=1)
df_combo_3.head()

,Date_Time,Score,URL,IP,Length,digits,digit_ratio,Hyperlinks,Sus_Words,Sus_Url,Url_Dots
0,2023-02-09 07:54:34,3.5,https://647cyu.z8.web.core.windows.net/,20.60.72.33,39,4,0.102564,0.0,1.0,0,5
1,2023-02-09 07:54:31,2.2,https://30-02-9v-h38g5f-83gfd028egfd-2gfe0-g8w...,159.138.16.166,228,42,0.184211,0.0,0.0,0,5
2,2023-02-09 07:54:29,2.2,https://22-02-0-fj39h5rg-38rgf-83gef-08cgw-eg0...,110.238.127.235,229,42,0.183406,0.0,0.0,0,5
3,2023-02-09 07:54:26,4.1,https://22-02-0-3rg9hf-3r9fv-wrgvc-wd9jc-ge3r-...,159.138.80.33,227,41,0.180617,0.0,0.0,0,5
4,2023-02-09 07:54:14,5.6,http://portogran.com.br/loges/wp-set/main/view...,187.17.111.105,96,0,0.000000,1.0,0.0,2,3

In [4]:
df_combo = pd.read_csv('df_sus_words_combined.csv')

In [6]:
phish_bool = []
for i in range(0,len(df_combo['Sus_Words'])):
    phish_bool.append(True)

In [8]:
df_combo['Phish'] = phish_bool
df_combo.head()

,Unnamed: 0,Date_Time,Score,URL,IP,Length,digits,digit_ratio,Hyperlinks,Sus_Words,Sus_Url,Url_Dots,Phish
0,0,2023-02-09 07:54:34,3.5,https://647cyu.z8.web.core.windows.net/,20.60.72.33,39,4,0.102564,0.0,1.0,0,5,True
1,1,2023-02-09 07:54:31,2.2,https://30-02-9v-h38g5f-83gfd028egfd-2gfe0-g8w...,159.138.16.166,228,42,0.184211,0.0,0.0,0,5,True
2,2,2023-02-09 07:54:29,2.2,https://22-02-0-fj39h5rg-38rgf-83gef-08cgw-eg0...,110.238.127.235,229,42,0.183406,0.0,0.0,0,5,True
3,3,2023-02-09 07:54:26,4.1,https://22-02-0-3rg9hf-3r9fv-wrgvc-wd9jc-ge3r-...,159.138.80.33,227,41,0.180617,0.0,0.0,0,5,True
4,4,2023-02-09 07:54:14,5.6,http://portogran.com.br/loges/wp-set/main/view...,187.17.111.105,96,0,0.000000,1.0,0.0,2,3,True

In [9]:
df_combo.drop('Unnamed: 0',axis=1,inplace=True)
df_combo.head()

,Date_Time,Score,URL,IP,Length,digits,digit_ratio,Hyperlinks,Sus_Words,Sus_Url,Url_Dots,Phish
0,2023-02-09 07:54:34,3.5,https://647cyu.z8.web.core.windows.net/,20.60.72.33,39,4,0.102564,0.0,1.0,0,5,True
1,2023-02-09 07:54:31,2.2,https://30-02-9v-h38g5f-83gfd028egfd-2gfe0-g8w...,159.138.16.166,228,42,0.184211,0.0,0.0,0,5,True
2,2023-02-09 07:54:29,2.2,https://22-02-0-fj39h5rg-38rgf-83gef-08cgw-eg0...,110.238.127.235,229,42,0.183406,0.0,0.0,0,5,True
3,2023-02-09 07:54:26,4.1,https://22-02-0-3rg9hf-3r9fv-wrgvc-wd9jc-ge3r-...,159.138.80.33,227,41,0.180617,0.0,0.0,0,5,True
4,2023-02-09 07:54:14,5.6,http://portogran.com.br/loges/wp-set/main/view...,187.17.111.105,96,0,0.000000,1.0,0.0,2,3,True

In [12]:
df_phish = pd.read_csv('df_genuine_sus_words_clean.csv')

In [13]:
df_phish.head()

,Unnamed: 0,URL,Length,digits,digit_ratio,Hyperlinks,Sus_words,Phish
0,0,poom.co.kr,10,0,0.0,25.0,0.0,False
1,1,victoriarnilan.no,17,0,0.0,8.0,0.0,False
2,2,paqtomog.com,12,0,0.0,23.0,0.0,False
3,3,publications-agora.fr,21,0,0.0,23.0,0.0,False
4,4,funkemedien.de,14,0,0.0,25.0,0.0,False

In [26]:
#df_phish.drop(['Unnamed: 0'],axis=1,inplace=True)
df_phish.head()

,URL,Length,digits,digit_ratio,Hyperlinks,Sus_words,Phish
0,poom.co.kr,10,0,0.0,25.0,0.0,False
1,victoriarnilan.no,17,0,0.0,8.0,0.0,False
2,paqtomog.com,12,0,0.0,23.0,0.0,False
3,publications-agora.fr,21,0,0.0,23.0,0.0,False
4,funkemedien.de,14,0,0.0,25.0,0.0,False

In [33]:
df_phish.rename({'Sus_words':'Sus_Words'},axis=1,inplace=True)
df_phish.head()

,URL,Length,digits,digit_ratio,Hyperlinks,Sus_Words,Phish,Url_Dots,Sus_Url
0,poom.co.kr,10,0,0.0,25.0,0.0,False,2,0
1,victoriarnilan.no,17,0,0.0,8.0,0.0,False,1,0
2,paqtomog.com,12,0,0.0,23.0,0.0,False,1,0
3,publications-agora.fr,21,0,0.0,23.0,0.0,False,1,0
4,funkemedien.de,14,0,0.0,25.0,0.0,False,1,0

In [16]:
df_combo.head()

,Date_Time,Score,URL,IP,Length,digits,digit_ratio,Hyperlinks,Sus_Words,Sus_Url,Url_Dots,Phish
0,2023-02-09 07:54:34,3.5,https://647cyu.z8.web.core.windows.net/,20.60.72.33,39,4,0.102564,0.0,1.0,0,5,True
1,2023-02-09 07:54:31,2.2,https://30-02-9v-h38g5f-83gfd028egfd-2gfe0-g8w...,159.138.16.166,228,42,0.184211,0.0,0.0,0,5,True
2,2023-02-09 07:54:29,2.2,https://22-02-0-fj39h5rg-38rgf-83gef-08cgw-eg0...,110.238.127.235,229,42,0.183406,0.0,0.0,0,5,True
3,2023-02-09 07:54:26,4.1,https://22-02-0-3rg9hf-3r9fv-wrgvc-wd9jc-ge3r-...,159.138.80.33,227,41,0.180617,0.0,0.0,0,5,True
4,2023-02-09 07:54:14,5.6,http://portogran.com.br/loges/wp-set/main/view...,187.17.111.105,96,0,0.000000,1.0,0.0,2,3,True

In [18]:
df_combo.drop(['Date_Time','Score','IP'],axis=1,inplace=True)
df_combo.head()

,URL,Length,digits,digit_ratio,Hyperlinks,Sus_Words,Sus_Url,Url_Dots,Phish
0,https://647cyu.z8.web.core.windows.net/,39,4,0.102564,0.0,1.0,0,5,True
1,https://30-02-9v-h38g5f-83gfd028egfd-2gfe0-g8w...,228,42,0.184211,0.0,0.0,0,5,True
2,https://22-02-0-fj39h5rg-38rgf-83gef-08cgw-eg0...,229,42,0.183406,0.0,0.0,0,5,True
3,https://22-02-0-3rg9hf-3r9fv-wrgvc-wd9jc-ge3r-...,227,41,0.180617,0.0,0.0,0,5,True
4,http://portogran.com.br/loges/wp-set/main/view...,96,0,0.000000,1.0,0.0,2,3,True

In [27]:
df_phish['Url_Dots'] = df_phish.apply(lambda row: dots_url(row),axis=1)
df_phish.head()

,URL,Length,digits,digit_ratio,Hyperlinks,Sus_words,Phish,Url_Dots
0,poom.co.kr,10,0,0.0,25.0,0.0,False,2
1,victoriarnilan.no,17,0,0.0,8.0,0.0,False,1
2,paqtomog.com,12,0,0.0,23.0,0.0,False,1
3,publications-agora.fr,21,0,0.0,23.0,0.0,False,1
4,funkemedien.de,14,0,0.0,25.0,0.0,False,1

In [28]:
df_phish['Sus_Url'] = df_phish.apply(lambda row: sus_word_url(row),axis=1)
df_phish.head()

,URL,Length,digits,digit_ratio,Hyperlinks,Sus_words,Phish,Url_Dots,Sus_Url
0,poom.co.kr,10,0,0.0,25.0,0.0,False,2,0
1,victoriarnilan.no,17,0,0.0,8.0,0.0,False,1,0
2,paqtomog.com,12,0,0.0,23.0,0.0,False,1,0
3,publications-agora.fr,21,0,0.0,23.0,0.0,False,1,0
4,funkemedien.de,14,0,0.0,25.0,0.0,False,1,0

In [34]:
df_full_combo = concat_and_clean(df_phish,df_combo)

In [35]:
df_full_combo.head()

,URL,Length,digits,digit_ratio,Hyperlinks,Sus_Words,Phish,Url_Dots,Sus_Url
0,poom.co.kr,10,0,0.0,25.0,0.0,False,2,0
1,victoriarnilan.no,17,0,0.0,8.0,0.0,False,1,0
2,paqtomog.com,12,0,0.0,23.0,0.0,False,1,0
3,publications-agora.fr,21,0,0.0,23.0,0.0,False,1,0
4,funkemedien.de,14,0,0.0,25.0,0.0,False,1,0

In [36]:
df_full_combo.shape

(7354, 9)

In [37]:
df_full_combo.to_csv('df_full_combo_clean.csv')